.tournament {
	display: inline-flex;
}
.tournament-turn {
    display: inline-flex;
    vertical-align: middle;
    min-height: 100%;
    flex-direction: column;
}
.tournament-match {
	flex: 1;
}
.tournament-match > div {
	display: inline-flex;
    vertical-align: middle;
    flex-direction: column;
}
.tournament-fighters {
	height: 100%;
	min-height: 8em;
	width: calc(100% - 4em - 1px);
}
.tournament-fighters:last-child {
    width: auto;
}
.tournament-fighter-space {
	width: 100%;
	height: calc(25% - 1em - 2px);
}
.tournament-fighter-interspace {
	width: 100%;
	height: calc(50% - 2.3em + 4px);
}
.tournament-fighter, .tournament-alone-fighter {
	display: block;
	padding: .5em 1em;
	border: solid 1px black;
	height: 1em;
	width: calc(100% - 2em - 2px);
}
.tournament-alone-fighter {
	margin: auto;
}
.tournament-lines {
	width: 2em;
	height: 50%;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	border-right: solid 1px black;
}
.tournament-line {
	width: 2em;
	height: 1px;
	background-color: black;
}
